<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
function set_openid(openid, pr)
{
    u = openid.search('<username>');
    if (u != -1) {
        // openid requires username
        user = prompt('Enter your ' + pr + ' username:');
        openid = openid.substr(0, u) + user;
    }
    form = document.forms['login'];
    form.elements['openid'].value = openid;
}
</script>
<h1>Sign In</h1>
<form action="" method="post" name="login"  role="form">
    {{form.hidden_tag()}}
    <p>
        Please enter your OpenID, or select one of the providers below:<br>

    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
          {{form.email(class="form-control")}}

    {% for error in form.errors.email %}
    <span style="color: red;">[{{error}}]</span>
    {% endfor %}<br>

    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        {{form.password(class="form-control")}}
        {% for error in form.errors.password %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </div>

    </p>
    <p>{{form.remember_me}} Remember Me</p>
    <p><input type="submit" value="Sign In" class="btn btn-success"></p>
</form>
{% endblock %}
