<!-- extend base layout -->
{% extends "member_center.html" %}

{% block member_content %}


    <table class="table table-striped news_list">

        <thead>
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        {% for post in pagination.items %}
        {% include 'post.html' %}
        {% endfor %}

        </tbody>
    </table>
{% from "page.html" import render_pagination with context %}

{{ render_pagination(pagination, 'member_post_list') }}


{% endblock %}