{% macro render_pagination(pagination, endpoint, path='') %}
{% if pagination.total/pagination.per_page>1 %}
<div class=row>
    <div class="text-center">
        <nav>
            <ul class="pagination">
                {% if pagination.has_prev %}

                {% if path!='' %}

                {% set values = dict({'page': pagination.prev_num}, **path) %}

                <li><a href="{{ url_for(endpoint, **values) }}">«</a></li>
                {% else %}
                <li><a href="{{ url_for(endpoint, page = pagination.prev_num) }}">«</a></li>
                {% endif %}

                {% else %}
                <li class="disabled"><a href="#">«</a></li>
                {% endif %}

    {% for page in pagination.iter_pages() %}
    {% if page %}
    {% if page != pagination.page %}

                {% if path!='' %}
                {% set values = dict({'page': page}, **path) %}
                <li><a href="{{ url_for(endpoint, **values) }}">{{ page }}</a></li>
                {% else %}
                <li><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
                {% endif %}
    {% else %}
                <li class="active"><a href="#">{{ page }} <span class="sr-only">{{ page }}</span></a></li>
    {% endif %}
    {% else %}

                <li> <span class=ellipsis>…</span></li>
    {% endif %}
    {% endfor %}

                {% if pagination.has_next %}

                {% if path!='' %}
                {% set values = dict({'page': pagination.next_num}, **path) %}
                <li><a href="{{ url_for(endpoint, **values) }}">»</a></li>
                {% else %}
                <li><a href="{{ url_for(endpoint, page = pagination.next_num) }}">»</a></li>
                {% endif %}


                {% else %}
                <li class="disabled"><a href="#">»</a></li>
                {% endif %}

            </ul>
        </nav>
    </div>
</div>

{% endif %}

{% endmacro %}