{% extends "base.html" %}

{% block content %}

<h1>登录</h1>
<form action="" method="post" name="login"  role="form">
    {{form.hidden_tag()}}

    <div class="form-group">
        <label>Email address</label>
          {{form.email(class="form-control")}}

    {% for error in form.errors.email %}
    <span style="color: red;">[{{error}}]</span>
    {% endfor %}<br>

    </div>
    <div class="form-group">
        <label>Password</label>
        {{form.password(class="form-control")}}
        {% for error in form.errors.password %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </div>

    <p>{{form.remember_me}} 记住我</p>
    <p><input type="submit" value="Sign In" class="btn btn-success"></p>
</form>
{% endblock %}
