<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}欢迎光临{% endblock title %} - 自强学堂</title>

    <!-- Bootstrap -->
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

    {% block css %}

    {% endblock css %}

    {% block js %}

    {% endblock js %}
  </head>
  <body>
    <div class="row" style="width:100%; text-align:center;margin: 50px auto;">
        <div class="col-md-12">
            {% block content %}
                <h1>我的世界</h1>
            {% endblock content %}
        </div>
    </div>
  </body>
</html>