{% extends "base.html" %}

{% block title %}
{{ user.name }}的个人空间
{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/showimage/css/default.css">
<link href="/static/showimage/dist/css/lightgallery.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/showimage/css/show.css">
<style type="text/css">

</style>
{% endblock css %}

{% block content %}
<p> {{ user.name }}的个人空间</p>

<!--<ul>-->
    <!--{% for article in column.object_list %}-->
    <!--<li>-->
        <!--<a href="{{ article.get_absolute_url }}"  >{{ article.title }}</a>-->
    <!--</li>-->
    <!--{% endfor %}-->
<!--</ul>-->

<div class="row">


    {% for article in column.object_list %}

    <!--<div class="col-md-3 col-sm-4  col-xs-12">-->
        <!--<a href="{{ article.get_absolute_url }}" target="_blank" >   <img src="/media/{{ article.local_default_image }}" class="img-responsive" alt="Responsive image"></a>-->
    <!--</div>-->

    {% endfor %}

    <div class="demo-gallery">
        <ul id="lightgallery" class="list-unstyled row">
            {% for article in column.object_list %}
            <li class="col-xs-6 col-sm-4 col-md-3" data-download-url="{{ article.get_absolute_url }}" data-responsive="" data-src="/media/{{ article.local_default_image }}" data-sub-html="<h4>Fading Light</h4><p>Classic </p>">
                <a href="{{ article.get_absolute_url }}" >
                    <img class="img-responsive" src="/media/{{ article.local_default_image }}">
                    <div class="demo-gallery-poster">
                        <img src="/static/showimage/img/zoom.png">
                    </div>
                </a>

            </li>

            {% endfor %}
        </ul>
    </div>

</div>




<ul class="pagination">
    {% if column.has_previous %}
    <li><a href="{% url 'home' user.id column.previous_page_number %}" class="prev">{{ previous_link_decorator|safe }}上一页</a></li>
    {% else %}
    <li class="paginate_button previous disabled"><span class="disabled prev">{{ previous_link_decorator|safe }}上一页</span></li>
    {% endif %}


    {% for page in column.paginator.page_range %}

    {% if page %}

    {% ifequal page column.number %}
    <li class="active"><span class="current page">{{ page }}</span></li>
    {% else %}
    <li><a href="{% url 'home' user.id page %}" class="page">{{ page }}</a></li>
    {% endifequal %}


    {% endif %}
    {% endfor %}

    {% if column.has_next %}
    <li><a href="{% url 'home' user.id column.next_page_number %}" class="next">下一页{{ next_link_decorator|safe }}</a></li>
    {% else %}
    <li class="paginate_button next disabled"><span class="disabled next">下一页{{ next_link_decorator|safe }}</span></li>
    {% endif %}
</ul>




{% if column.has_previous %}
<a   href="{% url 'home' user.id column.previous_page_number %}" title="下一页">上一页</a>

{% endif %}


<span class="current">
            Page {{ column.number }} of {{ column.paginator.num_pages }}.
        </span>
{% if column.has_next %}
<a href="{% url 'home' user.id column.next_page_number %}" title="下一页">下一页</a>
;
{% endif %}
<!-- 第 {{ userList.number }} 页 共 {{ userList.paginator.num_pages }} 页-->



{% endblock content %}


