{% extends "base.html" %}

{% block title %} 视频列表页 {% endblock title %}


{% block content %}



{% load mediafilepath %}




<div class="row">
    <div class="col-md-12 col-sm-12  col-xs-12">
<form class="form-inline" method="get">
    <div class="form-group">

        <div class="col-md-3 col-sm-3  col-xs-3"><label for="exampleInputName2">关键字</label> </div>
        <div class="col-md-7 col-sm-7  col-xs-7"><input type="text" class="form-control" name="keyword" value="{{ keyword }}" id="exampleInputName2" placeholder=""></div>

            <div class="col-md-2 col-sm-2  col-xs-2"><button type="submit" class="btn btn-default">搜索</button></div>
    </div>


</form>
    </div>
</div>

<br>
<div class="row">
    {% load staticfiles %}

    {% for article in column %}

    <div class="col-md-2 col-sm-2  col-xs-4">
     <!--<a href="javascript:;" data-toggle="modal" data-target="#myModal{{ article.id }}">-->

         <img src="{%  urlfilepath article.filepath '180x135' 1 %}" width="180" height="135" class="img-responsive" alt="无图"></a>

        <a href="{{ article.get_absolute_url }}" target="_blank" style=" display:block;height: 60px; width: 100%; overflow: hidden; line-height: 20px;">{{ article.title }} </a>
    </div>


    {% endfor %}

</div>




<ul class="pagination">
    {% if column.has_previous %}
    <li><a href="?page={{ column.previous_page_number }}" class="prev">{{ previous_link_decorator|safe }}上一页</a></li>
    {% else %}
    <li class="paginate_button previous disabled"><span class="disabled prev">{{ previous_link_decorator|safe }}上一页</span></li>
    {% endif %}


    {% for page in column.paginator.page_range %}

    {% page_guess column.number page %}
    {% endfor %}

    {% if column.has_next %}
    <li><a href="?page={{ column.next_page_number }}" class="next">下一页{{ next_link_decorator|safe }}</a></li>
    {% else %}
    <li class="paginate_button next disabled"><span class="disabled next">下一页{{ next_link_decorator|safe }}</span></li>
    {% endif %}
</ul>




{% endblock content %}


